<div class="container">
  <p></p>
  <%= link_to t('sales.new.create_sale'), new_sale_path, class: 'btn btn-success', data: { turbo: false } %>
  <p></p>
  <div class="mb-1">
    <%= render  "shared/search_element" %>
  </div>
  <div class="card">
    <div class="card-body p-1">
      <%= turbo_frame_tag 'search' do %>
        <%= render 'index_form_invoice', invoices: @invoices %>
      <% end  %>
    </div>
  </div>
</div>
