<div class="container">
  <h1>INDEX PRODUCT</h1>

  <%= link_to 'Create New', new_product_path, class: 'btn btn-primary' %>
  <br><br>
  <table class="table">
    <%= render 'header_product' %>
    <%= render @products %>
  </table>
</div>
