<div class="container">
  <h1><%= t('.all_products') %></h1>

  <%= link_to t('products.new.create_product'), new_product_path, class: 'btn btn-primary', data: { turbo: false } %>
  <br><br>
  <div class="table-responsive-md">
    <table class="table">
      <%= render 'header_product' %>
      <%= render @products %>
    </table>
  </div>
</div>
