<%= simple_form_for sale, local: true do |form| %>
  <div class="d-flex">
    <div class="col-sm-11">
      <div class="d-flex justify-content-between">
        <%= form.input :product_id,
          collection: current_user.company.products.map { |p| [ "#{p.sku} - #{p.description}", p.id ] },
          label: t('global.sku'),
          as: :select,
          value_method: :last,
          input_html: { autofocus: true },
          prompt: t('sales.new.choice_sku')
        %>
        <%= form.input :quantity, input_html: { min: 1 }%>
        <%= form.button :submit, t('sales.new.register_sale'), class: "btn btn-warning btn-sm", data: { turbo: false } %>
      </div>
    </div>
  </div>
<% end %>
